[user]
	email = ari.szk61@gmail.com
	name = arieee
[push]
	default = simple
[color]
	ui = auto
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[core]
	excludesfile = ~/.gitignore
