[user]
	email = yu.a.suzuki@rakuten.com
	name = Yu Suzuki
[push]
	default = simple
[color]
	ui = auto
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[core]
	excludesfile = ~/.gitignore
